img{
    width:250px;
    
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    background-color: white;
}


span{
    color: grey;
    font-size: 30px;
    font-style: oblique;
    text-shadow: 2px 2px 4px #000000;
}


@media screen and (max-width: 510px) {
    img{
        width: 150px;
    }

    span{
        font-size: 25px;
    }
}